/.idea/
/target/
/project/
/components/core/target/
/components/gcp/target/
/components/aws/target/
/components/core/src/main/scala/backup/
/components/azure/target/
/components/database/target/
/components/gcp-managed/target/
